/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* custom css (Your very own stylesheet begins) */

html {
    font-size: 14px;
}

h1{
    font-size: 3rem;
    color:red;
}

.avatar {
    width: 100px;
    height: 100px;
    background-color: fuchsia;
    border: 2px solid black;
}

iframe {
    width: 100%;
    height: 400px;
}

.banner {
    display:none;
}


div{
    transition: all 2s;
    transform: rotatez(2turn);
}

@media screen and (min-width:700px) {
    html {
        font-size: 16px;
        color:gold
        /* 16*3=48 */
    }

    .banner {
        display:block;
        width:100%;
       height: auto;
    }

    .avatar{
        border-radius:2rem;
    }
}

@media screen and (min-width:800px) and (max-width:900px) {
    .avatar{
        border-radius: 0;
    }

}


@media screen and (min-width:1000px) {
    h1{
        color: blue;
    }
    .avatar {
        border-radius: 50%;
    }
}