body {
    background-color: paleturquoise;
}
/* changing color of header and h1 */
header,h1 {
    background-color:navy;
    padding: 100px;
    margin: 100px;
    color: darkblue;
}
main {
    background-color:orange;
    lighting-color: magenta;
    height: 60px;
}

h1,h2,h3 {
text-decoration:underline;
text-decoration-color: gold;
}
section {
border: 7px solid red;
}
#abootus {
    background-color: hotpink;
}
section ul li:nth-child (odd) {
    background-color: yellow;
}

